{% extends "accounting/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h3>
        <b>销售订单</b>
    </h3>
        
    <small>
        <a href="{% url 'accounting:new_order' %}">添加销售订单</a> 
    </small>
{% endblock header %}

{% block content %}
    <DIV  class="panel panel-default">
        <table class="table table-hover">
            <thead>
                <tr class="info" >
                    <th style="text-align:center;" nowrap >ID</th>
                    <th style="text-align:center;" nowrap >采购合同编号</th>
                    <th style="text-align:center;" nowrap >客户编号</th>
                    <th style="text-align:center;" nowrap >产品名称</th>
                    <th style="text-align:center;" nowrap >销售日期</th>
                    <th style="text-align:center;" nowrap >使用期限</th>
                    <th style="text-align:center;" nowrap >销售金额</th>
                    <th style="text-align:center;" nowrap >是否含税</th>
                    <th style="text-align:center;" nowrap >是否开票</th>
                    <th style="text-align:center;" nowrap >发票编号</th>
                    <th style="text-align:center;" nowrap >是否完成</th>
                </tr>
            </thead>

            <tbody>
                {% for order in orders %}
                    <tr>
                        <td style="vertical-align: middle" align="center" >{{ order.id }}</td>
                        <td style="vertical-align: middle" align="center" >{{ order.number_of_purchase_contract }}</td>
                        <td style="vertical-align: middle" align="center" >{{ order.number_of_client }}</td>
                        <td style="vertical-align: middle" align="center" >{{ order.product }}</td>
                        <td style="vertical-align: middle" align="center" >{{ order.date_of_sale }}</td>
                        <td style="vertical-align: middle" align="center" >{{ order.service_life }}</td>
                        <td style="vertical-align: middle" align="center" >{{ order.sales_amount }}</td>
                        <td style="vertical-align: middle" align="center" >{% if order.tax_included_or_not %}含增值税{% else %}不含增值税{% endif %}</td>
                        <td style="vertical-align: middle" align="center" >{% if order.invoiced_or_not %}已开票{% else %}未开票{% endif %}</td>
                        <td style="vertical-align: middle" align="center" >{{ order.number_of_invoiced }}</td>
                        <td style="vertical-align: middle" align="center" >{% if order.closed_or_not %}已到期{% else %}未到期{% endif %}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td style="vertical-align: middle" colspan="11" >
                            <!--第一个单元格与第二个单元格合并，colspan="11"意思是第一个单元格的长度改变成五个单元格的长度，也就是把第一个单元格长度边长五倍，第二个单元格的<td></td>删除。-->
                            尚未添加任何销售订单。
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>   
        </table>
    </DIV>
{% endblock content %}