{% extends "financial_indicator_library/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h3>
        <b>关键财务指标平均水平</b>
    </h3>
{% endblock header %}

{% block content %}
    <form class="form-inline" method="POST"> 
        {% csrf_token %}   

        <div class="form-group" >
            <label for="te" class="control-label">企业类型：</label>
            <select class=" form-control" id="te" name="type_of_enterprise">                
                {% for te in te_all %}
                    <option id=te.id value="{{ te.id }}" >
                        {{ te.type_of_enterprise }}
                    </option>
                {% endfor %}
            </select>
        </div>  

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

        <div class="form-group" >
            <label for="bs" >企业规模：</label>
            <select class="form-control" id="bs" name="business_scale">
                {% for bs in bs_all %}
                    <option id=bs.id value="{{ bs.id }}">
                        {{ bs.business_scale }}
                    </option>
                {% endfor %}
            </select>
        </div>

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

        <div class="form-group" >
            <label for="bss" >企业状况：</label>
            <select class="form-control" id="bss" name="business_status">
                {% for bss in bss_all %}
                    <option id=bss.id value="{{ bss.id }}">
                        {{ bss.business_status }}
                    </option>
                {% endfor %}
            </select>
        </div> 

        <input type="submit" name="query" value="查询" >  

    </form>


    
    <table class="table table-hover">
        <thead>
            <tr class="info" >
                <th width="50px"  style="text-align:center;" nowrap >{{ indicator_data.te }}</th>
                <th width="100px" style="text-align:center;" nowrap >{{ indicator_data.bs }}</th>
                <th width="150px" style="text-align:center;" nowrap >{{ indicator_data.bss }}</th>
            </tr>
        </thead>

        <tbody>
            {% for indicator in indicators %}
                <tr>
                    <td style="vertical-align: middle" align="center" >{{ indicator.id }}</td>
                    <td style="vertical-align: middle" >{{ indicator.indicator_type }}</td>
                    <td style="vertical-align: middle" >{{ indicator.indicator_name_zh }}</td>
                    <td style="vertical-align: middle" align="center" >{{ indicator.unit_of_measurement }}</td>
                    <td style="vertical-align: middle" >{{ indicator.indicator_description }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td style="vertical-align: middle" colspan="5" >
                        <!--第一个单元格与第二个单元格合并，colspan="5"意思是第一个单元格的长度改变成五个单元格的长度，也就是把第一个单元格长度边长五倍，第二个单元格的<td></td>删除。-->
                        <b>尚未添加任何财务指标。</b>
                    </td> 
                </tr>
            {% endfor %}
        </tbody>   
    </table>
{% endblock content %}