{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h3>
        <b>增加一个新的科目:</b>
    </h3>
    <small> 所属主题：
        <a href="{% url 'learning_logs:entries' topic.name %}">{{ topic }}</a>
    </samll>
{% endblock header %}

{% block content %}
    <form action="{% url 'learning_logs:new_entry' topic.name %}" method='post'>
        {% csrf_token %}
        {% bootstrap_form form %}
        
        {% buttons %}
            <button name="submit" class="btn btn-primary">增加</button>
        {% endbuttons %}
    </form>
{% endblock content %}
